* {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    height: 90%;
    background-color: hsl(120deg, 100%, 50%);
}

h1 {
    color: #fff;
    padding: 10px;
}